li {
    list-style: none;
    padding: 5px;
    
}
input {
    margin-bottom: 20%;
    border-radius: 20px;
    border: 4px solid rgb(29, 90, 17);
    padding: 5px;
    width: 300px;
}
input:hover{
    outline: none;
}
#formulario {
    height: 88vh;
    background: rgb(29, 90, 17);
    display: flex;
    justify-content: center;
    align-items: center;
}
#campos {
    width: 50%;
    height: 90%;
    background: rgb(78, 74, 74);
    display: flex;
    justify-content: center;
    border-radius: 10px;
    
}
#lista {
    margin-top: 10%;
}